@font-face {
  font-weight: 300;
  font-family: 'SB Sans Display';
  /* IE9 Compat Modes */
  src: url('~assets/fonts/SBSansDisplay/eot/SBSansDisplay-Thin.eot');
  src:
    /* IE6-IE8 */
    url('~assets/fonts/SBSansDisplay/eot/SBSansDisplay-Thin.eot?#iefix') format('embedded-opentype'),
    /* Super Modern Browsers */
    url('~assets/fonts/SBSansDisplay/woff2/SBSansDisplay-Thin.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('~assets/fonts/SBSansDisplay/woff/SBSansDisplay-Thin.woff') format('woff'),
    /* Safari, Android, iOS */
    url('~assets/fonts/SBSansDisplay/ttf/SBSansDisplay-Thin.ttf') format('truetype');
}

@font-face {
  font-weight: 300;
  font-family: 'SB Sans Display';
  /* IE9 Compat Modes */
  src: url('~assets/fonts/SBSansDisplay/eot/SBSansDisplay-Light.eot');
  src:
    /* IE6-IE8 */
    url('~assets/fonts/SBSansDisplay/eot/SBSansDisplay-Light.eot?#iefix') format('embedded-opentype'),
    /* Super Modern Browsers */
    url('~assets/fonts/SBSansDisplay/woff2/SBSansDisplay-Light.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('~assets/fonts/SBSansDisplay/woff/SBSansDisplay-Light.woff') format('woff'),
    /* Safari, Android, iOS */
    url('~assets/fonts/SBSansDisplay/ttf/SBSansDisplay-Light.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: 'SB Sans Display';
  /* IE9 Compat Modes */
  src: url('~assets/fonts/SBSansDisplay/eot/SBSansDisplay-Regular.eot');
  src:
    /* IE6-IE8 */
    url('~assets/fonts/SBSansDisplay/eot/SBSansDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    /* Super Modern Browsers */
    url('~assets/fonts/SBSansDisplay/woff2/SBSansDisplay-Regular.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('~assets/fonts/SBSansDisplay/woff/SBSansDisplay-Regular.woff') format('woff'),
    /* Safari, Android, iOS */
    url('~assets/fonts/SBSansDisplay/ttf/SBSansDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: 700;
  font-family: 'SB Sans Display';
  /* IE9 Compat Modes */
  src: url('~assets/fonts/SBSansDisplay/eot/SBSansDisplay-SemiBold.eot');
  src:
    /* IE6-IE8 */
    url('~assets/fonts/SBSansDisplay/eot/SBSansDisplay-SemiBold.eot?#iefix') format('embedded-opentype'),
    /* Super Modern Browsers */
    url('~assets/fonts/SBSansDisplay/woff2/SBSansDisplay-SemiBold.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('~assets/fonts/SBSansDisplay/woff/SBSansDisplay-SemiBold.woff') format('woff'),
    /* Safari, Android, iOS */
    url('~assets/fonts/SBSansDisplay/ttf/SBSansDisplay-SemiBold.ttf') format('truetype');
}

@font-face {
  font-weight: 900;
  font-family: 'SB Sans Display';
  /* IE9 Compat Modes */
  src: url('~assets/fonts/SBSansDisplay/eot/SBSansDisplay-Bold.eot');
  src:
    /* IE6-IE8 */
    url('~assets/fonts/SBSansDisplay/eot/SBSansDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    /* Super Modern Browsers */
    url('~assets/fonts/SBSansDisplay/woff2/SBSansDisplay-Bold.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('~assets/fonts/SBSansDisplay/woff/SBSansDisplay-Bold.woff') format('woff'),
    /* Safari, Android, iOS */
    url('~assets/fonts/SBSansDisplay/ttf/SBSansDisplay-Bold.ttf') format('truetype');
}

@font-face {
  font-weight: 300;
  font-family: 'SB Sans Interface';
  /* IE9 Compat Modes */
  src: url('~assets/fonts/SBSansInterface/eot/SBSansUI-Light.eot');
  src:
    /* IE6-IE8 */
    url('~assets/fonts/SBSansInterface/eot/SBSansUI-Light.eot?#iefix') format('embedded-opentype'),
    /* Super Modern Browsers */
    url('~assets/fonts/SBSansInterface/woff2/SBSansUI-Light.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('~assets/fonts/SBSansInterface/woff/SBSansUI-Light.woff') format('woff'),
    /* Safari, Android, iOS */
    url('~assets/fonts/SBSansInterface/ttf/SBSansUI-Light.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: 'SB Sans Interface';
  /* IE9 Compat Modes */
  src: url('~assets/fonts/SBSansInterface/eot/SBSansUI-Regular.eot');
  src:
    /* IE6-IE8 */
    url('~assets/fonts/SBSansInterface/eot/SBSansUI-Regular.eot?#iefix') format('embedded-opentype'),
    /* Super Modern Browsers */
    url('~assets/fonts/SBSansInterface/woff2/SBSansUI-Regular.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('~assets/fonts/SBSansInterface/woff/SBSansUI-Regular.woff') format('woff'),
    /* Safari, Android, iOS */
    url('~assets/fonts/SBSansInterface/ttf/SBSansUI-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: 700;
  font-family: 'SB Sans Interface';
  /* IE9 Compat Modes */
  src: url('~assets/fonts/SBSansInterface/eot/SBSansUI-Semibold.eot');
  src:
    /* IE6-IE8 */
    url('~assets/fonts/SBSansInterface/eot/SBSansUI-Semibold.eot?#iefix') format('embedded-opentype'),
    /* Super Modern Browsers */
    url('~assets/fonts/SBSansInterface/woff2/SBSansUI-Semibold.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('~assets/fonts/SBSansInterface/woff/SBSansUI-Semibold.woff') format('woff'),
    /* Safari, Android, iOS */
    url('~assets/fonts/SBSansInterface/ttf/SBSansUI-Semibold.ttf') format('truetype');
}

@font-face {
  font-weight: 900;
  font-family: 'SB Sans Interface';
  /* IE9 Compat Modes */
  src: url('~assets/fonts/SBSansInterface/eot/SBSansUI-Bold.eot');
  src:
    /* IE6-IE8 */
    url('~assets/fonts/SBSansInterface/eot/SBSansUI-Bold.eot?#iefix') format('embedded-opentype'),
    /* Super Modern Browsers */
    url('~assets/fonts/SBSansInterface/woff2/SBSansUI-Bold.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('~assets/fonts/SBSansInterface/woff/SBSansUI-Bold.woff') format('woff'),
    /* Safari, Android, iOS */
    url('~assets/fonts/SBSansInterface/ttf/SBSansUI-Bold.ttf') format('truetype');
}
